
.hero {
  position: relative;
  width: 100%;
  height: 430px;
  background-image: url('../../assets/imgbackGroundHeader2.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
strong{
    color: #52dcff;
}
.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(3px);
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 900px;
  text-align: center;
  color: white;
}

.hero-content h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}

.hero-text {
  font-size: 25px;
  line-height: 1.5;
  white-space: pre-line;
  opacity: 0.9;
}
.mainHome{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    padding: 40px;
    background: #0c0c0c;
}

.card {
    width: 280px;
    height: 430px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 25px rgba(221, 11, 11, 0.7);
    transition: transform .5s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-12px);
}

/* CARD 1 – Comece por Aqui */
.showLeadsHistory {
    background-image: url('../../assets/imgBackGroundShowLeadsHistory.png'); /* coloque a imagem que quiser */
   
}

/* CARD 2 – Colaboração */
.leadsManager {
    background-image: url('../../assets/imgBackGroundManagerLeads.png'); /* coloque a imagem que quiser */
}

.card-content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    text-shadow: 0px 0px 8px rgba(0,0,0,0.9);
}

.card-small-title {
    font-size: 12px;
    opacity: 0.85;
    font-weight: 500;
    margin-bottom: 6px;
    letter-spacing: 1px;
}

.card-big-title {
    font-size: 28px;
    font-weight: 800;
    line-height: 32px;
    text-transform: uppercase;
}

.main-footer {
  width: 100%;
  background: #111;
  color: #fff;
  padding: 50px 0 20px 0;
  border-top: 1px solid #333;
}

.footer-container {
  width: 100%;
  max-width: 1500px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-section h3,
.footer-section h4 {
  margin-bottom: 15px;
  color: #52dcff;
  font-weight: 600;
}

.footer-section p {
  max-width: 280px;
  line-height: 1.6;
  opacity: 0.9;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
  opacity: 0.85;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
  opacity: 0.85;
  transition: 0.2s ease;
}

.footer-section ul li a:hover {
  opacity: 1;
  color: #ff3b3b;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid #222;
  opacity: 0.8;
}
