/* App.css */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 2px solid #d4af37; /* dourado */
  border-radius: 15px;
  padding: 30px;
  max-width: 500px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Georgia', serif;
  color: #0d0c2b; /* azul bem escuro */
}



/* Estilo do Botão */
button {
  background-color: #0d0c2b; /* azul escuro */
  color: #fff;
  border: 2px solid #d4af37; /* borda dourada */
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Animação do botão ao passar o mouse */
@keyframes animationElityConsultoria {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

button:hover {
  background-color: #1a1841; /* tom mais claro do azul escuro */
  animation: animationElityConsultoria 0.5s ease-in-out infinite alternate;
}
